


.top-header .content .right-content .list ul li .language-selector .language {
  background: #ffffff;}
.top-header .content .right-content .list ul li .currency-selector .currency {
  background: #ffffff;}

.logo-header {
  background: #ffffff; }
  
.logo-header .search-box .categori-container .categoris option {
  background: #ffffff; }



.autocomplete-items div {
  background: #ffffff;
  border: 0.5px solid #ffffff;
}





.footer {
  background: #143250;
}



  .footer .copy-bg {
    background: #02020c; }

.mybtn1,
.bottomtotop i,
.logo-header .search-box .categori-container .categoris option:hover,
.logo-header .helpful-links ul li.my-dropdown .cart .icon span,
.trending .item .item-img .time,
.hero-area .hero-area-slider .intro-carousel.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.hero-area .hero-area-slider .intro-carousel.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.hero-area .info-box:hover .icon,
.trending .item .item-img .sale,
.trending .item .item-img .discount,
.trending .item .item-img .extra-list ul li a ,
.trending .item .item-img .extra-list ul li a:hover,
.categori-item .item .item-img .sale,
.categori-item .item .item-img .discount,
.categori-item .item .item-img .extra-list ul li a,
.categori-item .item .item-img .extra-list ul li a:hover,
.flash-deals .flas-deal-slider .item .item-img .discount,
.flash-deals .flas-deal-slider .owl-controls .owl-dots .owl-dot.active,
.hot-and-new-item .categori .section-top .section-title::after,
.blog-area .aside .slider-wrapper .owl-controls .owl-dots .owl-dot.active,
.blog-area .blog-box .blog-images .img .date,
.blog-area .blog-box .details .read-more-btn,
.footer .fotter-social-links ul li a:hover,
.product-details-page .all-item .slidPrv4.slick-arrow,
.product-details-page .all-item .slidNext4.slick-arrow,
.product-details-page .right-area .product-info .contact-seller .list li a:hover,
.product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a:hover,
.product-details-page #coment-area .all-comments li .single-comment .right-area .replaybtn:hover,
.product-details-page #coment-area .write-comment-area .submit-btn,
.ui-widget-header,
.ui-slider .ui-slider-handle,
.sub-categori .left-area .filter-result-area .body-area .filter-btn,
.sub-categori .left-area .tags-area .body-area .taglist li a:hover,
.sub-categori .right-area .categori-item-area .item .item-img .time,
.sub-categori .right-area .categori-item-area .item .item-img .sale,
.sub-categori .right-area .categori-item-area .item .item-img .discount,
.sub-categori .right-area .categori-item-area .item .item-img .extra-list ul li a:hover,
.sub-categori .right-area .pagination-area .pagination .page-item .page-link.active, 
.sub-categori .right-area .pagination-area .pagination .page-item .page-link:hover,
.sub-categori .modal .modal-dialog .modal-header,
.sub-categori .modal .contact-form .submit-btn,
.cartpage .left-area .table tbody tr td.quantity .qty ul li .qtminus:hover, 
.cartpage .left-area .table tbody tr td.quantity .qty ul li .qtplus:hover,
.cartpage .right-area .order-box .cupon-box #coupon-form button:hover,
.cartpage .right-area .order-box .order-btn,
.blogpagearea .blog-box .blog-images .img .date,
.blogpagearea .blog-box .details .read-more-btn,
.blog-details .blog-content .content .tag-social-link .social-links li a,
.blog-details .comments .comment-box-area li .comment-box .left .replay,
.blog-details .comments .comment-box-area li .comment-box .left .replay:hover,
.blog-details .comments .comment-box-area li .replay-form .replay-form-close:hover,
.blog-details .comments .comment-box-area li .replay-form .replay-comment-btn,
.blog-details .comments .comment-box-area li .replay-form .replay-comment-btn:hover,
.blog-details .write-comment .submit-btn,
.blog-details .write-comment .submit-btn:hover,
.blog-details .blog-aside .tags .tags-list li a:hover,
.contact-us .left-area .contact-form .submit-btn,
.contact-us .right-area .contact-info .left .icon,
.contact-us .right-area .social-links ul li a,
.contact-us .right-area .social-links ul li a:hover,
.login-signup .login-area .submit-btn,
.ui-accordion .ui-accordion-header,
.compare-page-content-wrap .btn__bg,
.user-dashbord .user-profile-details .mycard,
.user-dashbord .user-profile-details .account-info .edit-info-area .edit-info-area-form .back:hover,
.user-dashbord .user-profile-details .account-info .edit-info-area .edit-info-area-form .submit-btn,
.single-wish .remove:hover,
.sub-categori .right-area .categori-item-area .item .item-img .extra-list ul li a 
 {
    background: #e91e63;
}

.section-top .link,
.input-field.error:-ms-input-placeholder,
.input-field.error::-moz-placeholder,
.input-field.error::-webkit-input-placeholder,
.breadcrumb-area .pages li a:hover,
.categories_menu_inner > ul > li > ul.categories_mega_menu > li > a:hover,
.categorie_sub_menu ul li a:hover,
nav .menu li a:hover,
nav .menu li.dropdown.open > a,
.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-1 .title,
.trending li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a,
.hero-area .info-box .icon,
.trending .item .info .stars ul li i,
.categori-item .item .info .stars ul li i,
.flash-deals .flas-deal-slider .item .stars ul li i,
.flash-deals .flas-deal-slider .item .price .new-price,
.hot-and-new-item .categori .item-list li .single-box .right-area .stars ul li i,
.footer .copy-bg .content .content a,
.footer .footer-widget ul li a:hover,
.info-link-widget .link-list li a:hover,
.info-link-widget .link-list li a:hover i,
.product-details-page .right-area .product-info .info-meta-1 ul li .stars li i,
.product-details-page .right-area .product-info .contact-seller .title,
.product-details-page .right-area .product-info .contact-seller .list li a,
.product-details-page .right-area .product-info .product-price .price,
 .product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a,
 .product-details-page #product-details-tab li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a,
 .product-details-page #product-details-tab ul li a i,
 .product-details-page #product-details-tab ul li a:hover,
 .product-details-page #coment-area .all-comments li .single-comment .right-area .header-area .posttime,
 .sub-categori .left-area .service-center .body-area .list li i,
 .sub-categori .left-area .service-center .footer-area .list li a:hover,
 .sub-categori .right-area .categori-item-area .item .info .stars ul li i,
 .sub-categori .right-area .pagination-area .pagination .page-item .page-link,
 .blog-details .blog-content .content .post-meta li a:hover,
 .blog-details .blog-content .content blockquote,
 .blog-details .blog-aside .categori .categori-list li a:hover,
  .blog-details .blog-aside .categori .categori-list li a.active,
  .blog-details .blog-aside .recent-post-widget .post-list li .post .post-details .post-title:hover,
  .blog-details .blog-aside .archives .archives-list li a:hover,
  .contact-us .contact-section-title .title,
  .login-signup .login-area .header-area .title,
  .login-signup .login-area .form-input i,
  .login-signup .login-area .social-area .title,
  .vendor-top-header .content .single-box .icon,
  .compare-page-content-wrap .pro-ratting i,
  .user-dashbord .user-profile-info-area .links li.active a, 
  .user-dashbord .user-profile-info-area .links li:hover a,
  .thankyou .content .icon,
  .single-wish .right .stars li i,
  .single-wish .right .store-name i
{
    color: #e91e63;
}


.input-field.error,
.trending .item .item-img .extra-list ul li a,
.categori-item .item .item-img .extra-list ul li a,
.product-details-page li.slick-slide,
.product-details-page .right-area .product-info .product-size .siz-list li.active .box,
.sub-categori .right-area .categori-item-area .item .item-img .extra-list ul li a 
{
    border: 1px solid #e91e63;;
}

.input-field.error:focus,
.trending .item .item-img .extra-list ul li a:hover,
.categori-item .item .item-img .extra-list ul li a:hover,
.footer .fotter-social-links ul li a:hover,
.product-details-page .right-area .product-info .contact-seller .list li a:hover,
.product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a:hover,
.product-details-page #product-details-tab li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a,
.sub-categori .right-area .categori-item-area .item .item-img .extra-list ul li a:hover,
.cartpage .left-area .table tbody tr td.quantity .qty ul li .qtminus:hover, 
.cartpage .left-area .table tbody tr td.quantity .qty ul li .qtplus:hover,
.cartpage .right-area .order-box .cupon-box #coupon-form button:hover,
.blog-details .comments .comment-box-area li .replay-form .replay-form-close:hover,
.blog-details .blog-aside .tags .tags-list li a:hover
{
    border-color: #e91e63;
}
.loader-1 .loader-outter,
.loader-1 .loader-inner
 {
    border: 4px solid #e91e63;
 }
 

  
 

 .trending .item .item-img .sale::before,
 .trending .item .item-img .discount::before,
 .categori-item .item .item-img .sale::before,
 .categori-item .item .item-img .discount::before,
 .sub-categori .right-area .categori-item-area .item .item-img .sale::before,
 .sub-categori .right-area .categori-item-area .item .item-img .discount::before 
  {
    border-bottom: 22px solid #e91e63;
 }
 .flash-deals .flas-deal-slider .item .item-img .discount::before {
    border-bottom: 30px solid #e91e63;
}
.blog-area .aside .slider-wrapper .slide-item .top-area .left img {
    border: 2px solid #e91e63;
}
.sub-categori .modal .contact-form ul li .input-field:focus,
.contact-us .left-area .contact-form ul li .input-field:focus,
.contact-us .left-area .contact-form .captcha-area li .input-field:focus,
.user-dashbord .user-profile-details .account-info .edit-info-area .edit-info-area-form .input-field:focus 
 {
    border-bottom: 1px solid #e91e63 !important; 
}

.blog-details .blog-content .content blockquote {
    border-left: 5px solid #e91e63;
}
.blog-details .comments .comment-box-area li .comment-box .left .img {
    border: 2px solid #e91e63;
 }
 .contact-us .right-area .contact-info {
    border-bottom: 2px solid #e91e63;
}
.page-center ul.pagination li {
    background: #e91e631a;
}

.page-center ul.pagination li.active {
    background: #e91e63;
}
.logo-header .helpful-links ul li.compare .compare-product .icon span {
  background: #e91e63;
}
.hero-area .info-box .icon {
    background: #e91e63;
    }


.video-play-btn {
  background-color: #e91e63;

  }

    .product-details-page .right-area .product-info .contact-seller .title {
      color: #e91e63;}

        .product-details-page .right-area .product-info .contact-seller .list li a {
          color: #e91e63; }
          .product-details-page .right-area .product-info .contact-seller .list li a:hover {
            background: #e91e63;
            border-color: #e91e63; }
    .product-details-page .right-area .product-info .product-price .price {
      color: #e91e63;}
        .product-details-page .right-area .product-info .product-size .siz-list li.active .box {
          border: 1px solid #e91e63; }



          .product-details-page .right-area .product-info .product-color .color-list li .box.color5 {
            background:#e91e63; }






      
          .product-details-page #product-details-tab.ui-tabs .ui-tabs-panel .heading-area .reating-area .stars {
            background: #e91e63;}
        .login-btn {
            background-color: #e91e63; 
            border-color: #e91e63;
        }
        .product-details-page #product-details-tab .top-menu-area ul li a::after {
          background: #e91e63;}

        .trending .item .item-img .extra-list ul li span {
          border: 1px solid #e91e63;
          background: #e91e63;}

      .item .item-img .extra-list ul li span {
        border: 1px solid #e91e63;
        background: #e91e63;
         }
      .item .item-img .extra-list ul li span:hover {
        background: #e91e63;
        border-color: #e91e63;}
      .flash-deals .flas-deal-slider .item .price .new-price {
        color: #e91e63;}
        .footer .footer-widget ul li a:hover {
          color: #e91e63; }
        .info-link-widget .link-list li a:hover i {
          color: #e91e63; }
      .footer .copy-bg .content .content a {
        color: #e91e63; }

       .login-area .header-area .title {
        color: #e91e63; }
      .login-area .form-input i {
        color: #e91e63; }
      .login-area .social-area .title {
        color: #e91e63;
      }
          .blog-details .blog-aside .categori .categori-list li a:hover, .blog-details .blog-aside .categori .categori-list li a.active {
            color: #e91e63; }
              .blog-details .blog-aside .recent-post-widget .post-list li .post .post-details .post-title:hover {
                color: #e91e63; }
          .blog-details .blog-aside .archives .archives-list li a:hover {
            color: #e91e63; }

.taglist a.active {
   background: #e91e63;
}
     .login-area .submit-btn {
      background:#e91e63; }

  .comment-log-reg-tabmenu .nav-tabs .nav-link {
    background: #143250; }
.comment-log-reg-tabmenu .nav-tabs .nav-link.active {
    background: #e91e63;
}
    
          .trending .item .item-img .extra-list ul li span:hover {
            background: #e91e63;
            border-color: #e91e63; }

        .user-dashbord .user-profile-info-area .links li.active a, .user-dashbord .user-profile-info-area .links li:hover a {
          color: #e91e63;
  }
    .user-dashbord .user-profile-details .order-details .view-order-page .print-order a {
      background: #e91e63; }

      .upload-img .file-upload-area .upload-file span {
        background: #e91e63; }
    .thankyou .content .icon {
      color: #e91e63; }

  #product-details-tab #replay-area .write-comment-area .submit-btn {
    background: #e91e63;
}
  #product-details-tab #comment-area .write-comment-area .submit-btn {
    background: #e91e63;
 }
 #style-switcher h2 a {
  background: #e91e63;
}
.categorie_sub_menu ul li a:hover {
  color: #e91e63; }

  .elegant-pricing-tables h3 .price-sticker,
.elegant-pricing-tables:hover,
.elegant-pricing-tables.active,
.elegant-pricing-tables:hover .price,
.elegant-pricing-tables.active .price,
.elegant-pricing-tables.style-2 .price,
.elegant-pricing-tables .btn {
    background: #e91e63;
}
 .logo-header .helpful-links ul li.my-dropdown.profilearea  .profile .img img{
  border: 2px solid #e91e63;
 }
 a.sell-btn {
    background: #e91e63;
}
 .top-header .content .right-content .list ul li a.sell-btn:hover {
 transition: 0.3s;
 background: #fff;
color: #e91e63;
}
.sub-categori .left-area .service-center .body-area .list li i {
  color: #e91e63; 
}
.sub-categori .left-area .service-center .footer-area .list li a:hover {
  color: #e91e63; }
.breadcrumb-area .pages li a:hover {
  color: #e91e63; }
.cartpage .left-area .table tbody tr td.quantity .qty ul li .qtminus1:hover, .cartpage .left-area .table tbody tr td.quantity .qty ul li .qtplus1:hover {
  background: #e91e63;
  border-color: #e91e63; }
.cupon-box #coupon-form button:hover {
  background: #e91e63;
  border-color: #e91e63; }
.cupon-box #check-coupon-form button:hover {
  background: #e91e63;
  border-color: #e91e63; }
  .categories_menu_inner > ul > li > ul.categories_mega_menu > li > a:hover {
  color: #e91e63; }
              .contact-us .left-area .contact-form .form-input i {
              color: #e91e63; 
            }
      .message-modal .modal .modal-dialog .modal-header {
        background:  #e91e63; }

      .message-modal .modal .contact-form .submit-btn {
        background:  #e91e63; }



.logo-header .search-box .categori-container .categoris option:focus{
  background: #e91e63;
}
        .product-details-page .right-area .product-info .mproduct-size .siz-list li.active .box {
          border: 1px solid #e91e63; }
 
  .trending .owl-carousel .owl-controls .owl-nav .owl-prev,
  .trending .owl-carousel .owl-controls .owl-nav .owl-next {

    background: #e91e63;
    border: 1px solid #e91e63;
    }
    .trending .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
    .trending .owl-carousel .owl-controls .owl-nav .owl-next:hover {
      color: #e91e63;
    }
    .section-top .section-title::after{
      background: #e91e63;
    }
    .item .add-to-cart-btn{
      background: #e91e63;
      border: 1px solid #e91e63;
    }
    .item .add-to-cart-btn:hover {
      color: #e91e63;
  }    
  .flash-deals .owl-carousel .owl-controls .owl-nav .owl-prev,
  .flash-deals .owl-carousel .owl-controls .owl-nav .owl-next {
    background: #e91e63;
    border: 1px solid #e91e63;
    }
    .flash-deals .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
    .flash-deals .owl-carousel .owl-controls .owl-nav .owl-next:hover {
      color: #e91e63;
    }
      .flash-deals .flas-deal-slider .item .price .new-price {
        color: #e91e63;}

        .flash-deals .flas-deal-slider .item .deal-counter span {
          color: #e91e63;
          }
          .hot-and-new-item .owl-carousel .owl-controls .owl-nav .owl-prev,
          .hot-and-new-item .owl-carousel .owl-controls .owl-nav .owl-next {
            border: 1px solid #e91e63;
            color: #e91e63;
            }
            .hot-and-new-item .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
            .hot-and-new-item .owl-carousel .owl-controls .owl-nav .owl-next:hover {
              background: #e91e63!important;

            }

        .product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {

          border: 1px solid #ff5500;
          background: #e91e63; }
          .product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a:hover {
            color: #e91e63; }
        .product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {
          border: 1px solid #e91e63;
          background: #e91e63;
          }
          .product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a:hover {
            color: #e91e63; }

        .product-details-page .right-area .product-info .info-meta-3 .meta-list li.favorite a, .product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a {
          border: 1px solid #e91e63;
          background: #e91e63;}
          .product-details-page .right-area .product-info .info-meta-3 .meta-list li.favorite a:hover, .product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a:hover {
                      background: #fff;
            color: #e91e63; }

                .seller-info .content .title {
                  color: #e91e63;
                 }


                  .seller-info .content .total-product p {
                    color: #e91e63;
                   }


              .seller-info .view-stor {
                background: #e91e63;

                border: 1px solid #e91e63;

                }
                .seller-info .view-stor:hover{
                  background: #fff;
                  color: #e91e63;
                }
          .product-details-page .categori .owl-carousel .owl-controls .owl-nav .owl-prev,
          .product-details-page .categori .owl-carousel .owl-controls .owl-nav .owl-next {
            color: #e91e63;
                border: 1px solid #e91e63;
            }
  .product-details-page .xzoom-container .owl-carousel .owl-controls .owl-nav .owl-prev,
  .product-details-page .xzoom-container .owl-carousel .owl-controls .owl-nav .owl-next {

    background: #e91e63;
    border: 1px solid #e91e63;

    }
            

            .subscribePreloader__text {
    background: #e91e63c7;
}

          .logo-header .helpful-links ul li.my-dropdown .my-dropdown-menu .dropdownmenu-wrapper .dropdown-cart-action .mybtn1 {

            border: 1px solid  #e91e63;
          }
  .mybtn1:hover {
    color: #e91e63 !important;
      border: 1px solid #e91e63;
    }
    .mybtn2:hover {
      background: #e91e63;
      border: 1px solid #e91e63;
    }
.top-header .content .right-content .list li .track-btn:hover{
  background: #e91e63;
}
input[type=checkbox]:checked + label:before {
  background-color: #e91e63;
  border-color: #e91e63;
}
    .radio-design .checkmark::after{
      background: #e91e63;
    }
     .order-box .order-btn {
      background: #e91e63;
 }
.mybtn1 {
  border: 1px solid #e91e63;
  }
  .mybtn2 {
    color: #e91e63 !important;
  border: 1px solid #e91e63;
  }

.checkout-area .checkout-process li a:hover{
  background: #e91e63;

}
.checkout-area .checkout-process li a:hover::before{
  border-left: 20px solid #e91e63;
}
.checkout-area .checkout-process li a.active{
  background: #e91e63;

}
.checkout-area .checkout-process li a.active::before{
  border-left: 20px solid #e91e63;
}
.checkout-area  .content-box .content .billing-info-area .info-list li p i{
  color: #e91e63;
}
  .checkout-area  .content-box .content .payment-information .nav a span::after{
    background: #e91e63;
  }
      .hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-3 a {
      border: 1px solid #e91e63;
    }
    .hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-3 a:hover {
      border: 1px solid #e91e63;
      color: #e91e63;
    }    

  .order-tracking-content .track-form .mybtn1{
    border: 1px solid #e91e63;

  }  
  .order-tracking-content .tracking-form .mybtn1{
    border: 1px solid  #e91e63;
  }
  .tracking-steps li.done:after,
  .tracking-steps li.active:after,
  .tracking-steps li.active .icon{
  background: #e91e63;
  }
  .modal-header .close:hover {
  background-color: #e91e63;
}
.logo-header .helpful-links ul li.wishlist .wish span {
          background: #e91e63;
          }
          .top-header {
  background: #e91e63;

  }
  .logo-header .search-box .search-form button {
        background: #e91e63;
        }
  .categories_title {
  background: #e91e63;
 }
 nav .menu li:last-child a{
    color: #e91e63;
  }

  .blog-area .blog-box .details .read-more-btn:hover {
    color: #e91e63;
}
.blog-area .blog-box .details .read-more-btn {

        border: 1px solid #e91e63;
        }

  .blogpagearea .blog-box .details .read-more-btn {
        border: 1px solid #e91e63;

        }
        .blogpagearea .blog-box .details .read-more-btn:hover {
          color: #e91e63;
        }
        .contact-us .left-area .contact-form .submit-btn {
        border: 1px solid #e91e63;
        }
        .contact-us .left-area .contact-form .submit-btn:hover {
          color: #e91e63;
          }
          .process-steps li.done:after,
  .process-steps li.active:after,
  .process-steps li.active .icon{
  background: #e91e63;
  }
  .sub-categori .left-area .filter-result-area .body-area .filter-btn {
        border: 1px solid #e91e63;
        }
        .sub-categori .left-area .filter-result-area .body-area .filter-btn:hover {
          color: #e91e63;
          }
          .category-page  .bg-white .sub-category-menu .category-name a{
  color: #e91e63;

}
.category-page  .bg-white .sub-category-menu ul li a:hover{
  color: #e91e63;
}
.category-page  .bg-white .sub-category-menu ul li ul li a:hover i,
.category-page  .bg-white .sub-category-menu ul li ul li a:hover 
{
  color: #e91e63;
}
#product-details-tab #comment-area .write-comment-area .submit-btn{
    border: 1px solid #e91e63;
}
#product-details-tab #replay-area .write-comment-area .submit-btn {
    border: 1px solid #e91e63;
}
#product-details-tab #replay-area .write-comment-area .submit-btn:hover {
      color: #e91e63;
      }
      #product-details-tab #comment-area .write-comment-area .submit-btn:hover {
      color: #e91e63;
      }

      @media (max-width: 991px) {
      nav .nav-header .toggle-bar {
        color: #e91e63;
        }      
    }

    .product-details-page .xzoom-container .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
    .product-details-page .xzoom-container .owl-carousel .owl-controls .owl-nav .owl-next:hover {
      color: #e91e63;
    }

    .product-details-page .categori .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.product-details-page .categori .owl-carousel .owl-controls .owl-nav .owl-next:hover {
  background: #e91e63 !important;

}
.slider-buttom-category .single-category::before {
  background: #e91e63;

}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #e91e63;
    background-color: #e91e63;
}
        #product-details-tab #comment-area .all-comment li .single-comment .left-area img {

          border: 2px solid #e91e63;
 }

         #product-details-tab #replay-area .all-replay li .single-review .left-area img {

          border: 2px solid #e91e63;
}

.wholesell-details-page{
  background: #e91e630f;
}
.sub-categori .left-area .filter-result-area .body-area .filter-list li a:hover{
  color: #e91e63;
}
      .contact-us .right-area .contact-info .content a:hover {
    color: #e91e63;
 }
        #product-details-tab #comment-area .all-comment li .replay-area button {
        background: #e91e63;

        }
  .brand-section .owl-carousel .owl-controls .owl-nav .owl-prev,
  .brand-section .owl-carousel .owl-controls .owl-nav .owl-next {
    background: #e91e63;
 }        
 .single-box .right-area .action-meta li .wish {
    background: #e91e63;
 }          
 .single-box .right-area .action-meta li .cart-btn {
  background: #e91e63;
}
  .single-box .right-area .action-meta li .compear {
    background: #e91e63;
}  
.product-tab .section-top .nav .nav-item .nav-link::before {
    background: #e91e63 !important;
}
.product-tab .section-top .nav .nav-item .nav-link::after {
    border-top: 8px solid #e91e63;
 }
 .item .item-cart-area ul li span{
    background:  #e91e63;
}
.featured-link-box .title{
    color: #e91e63;
  }
  .mybtn1.sm{
    color: #e91e63 !important;
      border: 1px solid #e91e63;
    }